strict-order
bind-dynamic
log-queries
bogus-priv
dhcp-authoritative

#bm Network IPv6
dhcp-range=ipv6,{{ ipv6_network }}::11,{{ ipv6_network }}::20,{{ ipv6_mask }}
dhcp-option=ipv6,option6:dns-server,{{ ipv6_network }}::1

##bm Network IPv4
dhcp-range=ipv4,{{ ipv4_network }}.120,{{ ipv4_network }}.250,{{ ipv4_mask_address }},24h
dhcp-option=ipv4,option:dns-server,{{ ipv4_network }}.1
dhcp-option=ipv4,option:router,{{ ipv4_network }}.1

dhcp-range=dual,{{ dual_ipv4_network }}.120,{{ dual_ipv4_network }}.250,{{ dual_mask_address }},24h
dhcp-option=dual,option:dns-server,{{ dual_ipv4_network }}.1
dhcp-option=dual,option:router,{{ dual_ipv4_network }}.1
dhcp-range=dual,{{ dual_ipv6_network }}::11,{{ dual_ipv6_network }}::20,{{ dual_ipv6_mask }}
dhcp-option=dual,option6:dns-server,{{ dual_ipv6_network }}::1

resolv-file=/opt/dnsmasq/upstream-resolv.conf
except-interface=lo
dhcp-lease-max=81
log-dhcp
no-hosts

# DHCP Reservations
dhcp-leasefile=/opt/dnsmasq/hosts.leases

# Include all files in a directory depending on the suffix
conf-dir=/opt/dnsmasq/include.d/,*.dual
