host-record=api-int.{{ ipv6_cluster_name }}.{{ server_fqdn }},{{ ipv6_network }}::2
host-record=api.{{ ipv6_cluster_name }}.{{ server_fqdn }},{{ ipv6_network }}::2
address=/apps.{{ ipv6_cluster_name }}.{{ server_fqdn }}/{{ ipv6_network }}::3
dhcp-host=aa:aa:aa:aa:03:01,ocp-master-0,[{{ ipv6_network }}::5]
dhcp-host=aa:aa:aa:aa:03:02,ocp-master-1,[{{ ipv6_network }}::6]
dhcp-host=aa:aa:aa:aa:03:03,ocp-master-2,[{{ ipv6_network }}::7]
dhcp-host=aa:aa:aa:aa:03:06,ocp-installer,[{{ ipv6_network }}::8]
dhcp-host=aa:aa:aa:aa:03:10,ocp-bootstrap,[{{ ipv6_network }}::9]