interface ipv6
{
        AdvManagedFlag on;
        AdvSendAdvert on;
        MinRtrAdvInterval 30;
        MaxRtrAdvInterval 100;
        AdvDefaultLifetime 9000;
        prefix {{ ipv6_network }}::/{{ ipv6_mask }}
        {
                AdvOnLink on;
                AdvAutonomous off;
                AdvRouterAddr on;
        };
        route ::/0 {
                AdvRouteLifetime 9000;
                AdvRoutePreference low;
                RemoveRoute on;
        };
};

interface dual
{
        AdvManagedFlag on;
        AdvSendAdvert on;
        MinRtrAdvInterval 30;
        MaxRtrAdvInterval 100;
        AdvDefaultLifetime 9000;
        prefix {{ dual_ipv6_network }}::/{{ dual_ipv6_mask }}
        {
                AdvOnLink on;
                AdvAutonomous off;
                AdvRouterAddr on;
        };
        route ::/0 {
                AdvRouteLifetime 9000;
                AdvRoutePreference low;
                RemoveRoute on;
        };
};
